@model ChartsView
<div class="container pt-3">

    <div class="row height d-flex ">
        <h6 class="pt-4">Food Rating Analytics</h6>
        <div class="col-11">

            <div class="search">
                <i class="fa fa-search"></i>
                <form asp-action="Index">
                    <input type="text" class="form-control" name="term" placeholder="Search Food..." value="@TempData["term"]">
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
               
            </div>

        </div>

    </div>
</div>
<div class="container">
    <div class="row">
         
        @foreach (var f in Model.charts)
        {
                 <partial name="~/Views/Admin/_PieChartPartial.cshtml" model="@f"></partial>
        }

    </div>
</div>
