<div class="container">
    <h2 class="pt-4">Admin</h2>

    <h3>Usage Overview</h3>
    <ol>
        <li>The Admin views the ratings graphs for each meal on the home page.</li>
        <li>The Admin views students (encrypted for anonymity) on the respective page.</li>
        <li>The Admin views the rating form for each meal on the respective page.</li>
        <li>The Admin chooses to edit the rating form.</li>
        <li>The use case is successfully completed.</li>
    </ol>

    
    <h5>Notes</h5>
    <p>The Admin holds the responsibility of overseeing and managing the system. Refer to the system's documentation for additional details on features and functionalities available to the Admin.</p>

    <p>By following these steps, the Admin can efficiently navigate through the system and make necessary edits to the rating form. Enjoy a seamless administrative experience!</p>

</div>