@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    
}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<h4>Analytical Dashboard </h4>
<div class="container">
    <div class="row">
        <div class="theme-shadow bg-white col-lg-3 col-sm-4 g-4 m-2 p-2">
            <h6 class="p-2">Total users for each role</h6>
            <canvas id="myChart" height="300"></canvas>
        </div>
        <div class="theme-shadow bg-white col-lg-8 col-sm-8  g-4 m-2">
            <h6 class="p-2">Total users for each role</h6>
            <canvas id="line-chart"></canvas>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="theme-shadow bg-white col-lg-3 col-sm-4 g-4 m-2 p-2">
            <h6 class="p-2">Total users for each role</h6>
            <canvas id="doughnut-chart"></canvas>
        </div>
        <div class="theme-shadow bg-white col-lg-3 col-sm-4 g-4 m-2 p-2">
            <h6 class="p-2">Total users for each role</h6>
            <canvas id="doughnut-chart2"></canvas>
        </div>
    </div>
</div>

<script>
    const ctx = document.getElementById('myChart');

    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Admins', 'Cooks', 'Students'],
            datasets: [{
                label: '# of Users',
                data: [@ViewBag.AdminsCounteρ+1, @ViewBag.CooksCounter+2, @ViewBag.StudentsCounter+10],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>

<script>
    new Chart(document.getElementById("doughnut-chart"), {
        type: 'doughnut',
        data: {
            labels: ["Users", "Asia", "Europe", "Latin America", "North America"],
            datasets: [
                {
                    label: "Population (millions)",
                    backgroundColor: ["#4357d4", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                    data: [2478, 5267, 734, 784, 433]
                }
            ]
        },
        options: {
            title: {
                display: true,
                text: 'Predicted world population (millions) in 2050'
            }
        }
    });

</script>
<script>
    new Chart(document.getElementById("doughnut-chart2"), {
        type: 'doughnut',
        data: {
            labels: ["Africa", "Asia", "Europe", "Latin America", "North America"],
            datasets: [
                {
                    label: "Population (millions)",
                    backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                    data: [2478, 5267, 734, 784, 433]
                }
            ]
        },
        options: {
            title: {
                display: true,
                text: 'Predicted world population (millions) in 2050'
            }
        }
    });
    new Chart(document.getElementById("line-chart"), {
        type: 'line',
        data: {
            labels: @Html.Raw(Json.Serialize(ViewBag.dates)),
            datasets: [{
                data: @Html.Raw(Json.Serialize(ViewBag.headcounts)),
                label: "Total Users",
                borderColor: "#6979dd",
                fill: true
            }
            ]
        },
        options: {
            title: {
                display: true,
                text: 'Users Over Time'
            }
        }
    });

</script>


