@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<h4>Hi admin @TempData["success"]</h4>
<a asp-controller="Admin" asp-action="PostFood">Add Food</a>
<div style="width:500px;height:600px;">
  <canvas id="myChart"></canvas>
</div>
<script>
    const ctx = document.getElementById('myChart');

    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Admins', 'Cooks', 'Students'],
            datasets: [{
                label: '# of Users',
                data: [@ViewBag.AdminsCounter, @ViewBag.CooksCounter, @ViewBag.StudentsCounter],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>



