@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model FoodHelper

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<section id="" class="min-vh-100 d-flex">
    <div class="container mx-auto mt-4">
        <div class="row">
            <div class=" theme-shadow p-lg-5 p-4 mx-auto bg-white">
                <div class="login-title">
                    <h1>Add new food in the system</h1>
                    <div class="line">
                    </div>
                </div>

                <form method="post" enctype="multipart/form-data">
                    <div>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="m-2">
                            <img id="imgViewer" src="~/images/select-2935439_1280.png" width="200" height="100"  stlye="border:1px solid #000000;" alt="selected image"/>
                           
                        </div>
                        <div class="m-2">
                            <label asp-for="Photo"></label>
                            <input asp-for="Photo" value="Upload file" id="txtFile" class="form-control" />
                            <span asp-validation-for="Photo" class="text-danger"></span>
                        </div>
                        <div class="m-2">
                            <label asp-for="Title"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="m-2">
                            <label asp-for="Description"></label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="m-2">
                            <label asp-for="Category"></label>
                            <select name="Category" id="Categories">
                                <option value="BreakFast" selected>Breakfast</option>
                                <option value="Lunch">Lunch</option>
                                <option value="Dinner">Dinner</option>
                            </select>
                            <span asp-validation-for="Category" class="text-danger"></span>
                        </div>
                        <div class="m-2">
                            <label asp-for="AvgRating"></label>
                            <input asp-for="AvgRating" class="form-control" />
                            <span asp-validation-for="AvgRating" class="text-danger"></span>
                        </div>
                        <div class="m-2">
                            <label asp-for="healthValue"></label>
                            <input asp-for="healthValue" class="form-control" />
                            <span asp-validation-for="healthValue" class="text-danger"></span>
                        </div>
                        
                        <button type="submit" class=" m-3 btn btn-brand">Add Food</button>
                    </div>
                </form>
                
            </div>
        </div>
</section>


<script type="text/javascript">

    $("#txtFile").change(function(event){
        var files = event.target.files;
        $("#imgViewer").attr("src",window.URL.createObjectURL(files[0]));
    });

</script>