@model Food
<div class="card m-2" style="width: 16rem;">
    <img src="~/@Model.ImageUrl" class="card-img-top mt-4 mb-2" style="margin:auto;width:80px;height:80px;border-radius:30px;" alt="@Model.Title">
    <div class="card-body">
        <span id="food-card-text">
            <div class="card-title-custom">@Model.Title</div>
            <div class="card-info-small">Served at @Model.Category</div>
            @if (Model.AvgRating != null)
            {
                <div class="rating-text mt-2">Rating @Model.AvgRating/5</div>
                <div class="my-2 mb-3">
                    @for (var i = 0; i < Model.AvgRating; i++)
                    {
                        <img src="~/lib/icons/star-orange.png" />
                    }
                    @for (var j = 0; j < 5 - Model.AvgRating; j++)
                    {
                        <img src="~/lib/icons/star-black.png" />
                    }
                </div>
            }
            else
            {
                <div class="rating-text mt-2">Not Rated</div>
                <div class="my-2 mb-3">
                    @for (var i = 0; i < 5; i++)
                    {
                        <img src="~/lib/icons/star-black.png" />
                    }
                </div>
            }


        </span>
        <div class="buttons-container-menu">
            <a href="#" class="btn btn-rate-menu">Enable</a>
            <a href="#" class="btn btn-info-menu">Info</a>
        </div>

    </div>
</div>