@using Microsoft.AspNetCore.Identity
@model IdentityRole

<div class="row ">
    <div class="col-md-6">
        <form method="post">
            <h5>Create New Role</h5>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <input asp-for="Name" class="form-control" aria-required="true"/>
                <label asp-for="Name">Name</label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div>
                <button type="submit">Save</button>
            </div>
        </form>
    </div>
</div>