
@{
    ViewData["Title"] = "Help";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h3 class="pt-4">Digital Innovation in University Dining</h3>

    <p>In the era of digital technology, the need for innovative solutions in the university dining sector is clearly evident. An illustrative example of these needs is the search for an advanced digital platform that will gather reliable data on the user experience of dining services.</p>

    <p>Despite the benefits provided by the dining service, its format remains unchanged, creating a gap in understanding the perspectives of students from the administrative staff. This thesis proposes an evaluation system that offers benefits for all parties involved.</p>

    <p>Through this system, students can anonymously evaluate dining services and access information about services such as the daily menu without the need to be physically present in the dining facility. Simultaneously, the administrative staff receives statistical data regarding consumer preferences, enabling informed and targeted decisions for future material choices and reducing potential food waste.</p>

    <p>Furthermore, staff members have the ability to create a weekly menu based on the analysis of statistics provided by the students, leading to specialized and more informed choices, ultimately offering improved service quality in university dining.</p>

    <p>The system enhances transparency, promotes open communication, and adds value to all stakeholders. It empowers students to voice their opinions on dining services, enables staff to make data-driven decisions, and contributes to a more transparent and communicative university dining environment.</p>

</div>