@{
    ViewData["Title"] = "Home Page";
}
<div class="hero-container">
    <div class="contents">
        <div class="hero-title">Influence the upcoming menu<br> by<span style="color:#E27D36;"> rating <br>the food you enjoy.</span></div>
        <p class="desc">
            Cafeteria stuff will take into consideration your<br> review when making the upcoming menus.<br />
Your opinion matters to us. 
        </p>
       <div class="buttons-container">
          
                <a href="" class="btn-orange">Rate Food</a>
                <a href="" class="btn-orange-outline">Create Account</a>
          
       </div>
        
    </div>
</div>
<div class="container">
    <div height="700" class=" row bg-black">
        <div class="col">s</div>
    </div>
</div>