@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header >
    <div class="container">
        <div class="row">
            <h1 class="text-danger col text-center">@ViewData["Title"]</h1>
            <p class="text-danger text-center">You do not have access to this resource.</p>
        </div>
    </div>
    
</header>
