<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/431c0bb7-f408-42d1-bea1-1c81ed7b5c08/resourceGroups/rg1/providers/Microsoft.Web/sites/thesisNikoleta</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://thesisnikoleta.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>3b452766-5feb-4d87-9e22-7e2341339852</ProjectGuid>
    <PublishUrl>https://thesisnikoleta.scm.azurewebsites.net/</PublishUrl>
    <UserName>$thesisNikoleta</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>