/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*Custom CSS*/
.nav-title {
    font-family: 'Montserrat',sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-decoration:none;
    color:white;
}
.nav-title:hover{
    color:white;
}
.hero-container {
    width: 100%;
    height: 100vh;
    background-image: url(../lib/images/Image.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    z-index:1;
}
.hero-title {
    font-family: 'Montserrat',sans-serif;
    font-size: 42px;
    width: 100%;
    line-height: 59px;
    margin-left: 12%;
    margin-top: 12%;
    color: #F5F5F5;
    font-weight:100;
}
.desc {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 28.8px;
    margin-left: 12.5%;
    margin-top: 2%;
    color: #F5F5F5;
}
.btn-orange {
    background-color: #ED7812;
    padding: 10px;
    text-decoration: none;
    color: white;
    border: 2px solid;
    border-color: #ED7812;
}
    .btn-orange:hover {
        color: #E27D36;
        background-color: white;
        border: 2px solid;
        border-color: #ED7812;
    }
.btn-orange-outline {
    color: #F5F5F5;
    background-color: transparent;
    border: 2px solid;
    border-color: #F5F5F5;
    padding: 10px;
    text-decoration: none;
    margin-left: 40px;
}
.btn-orange-outline:hover {
    background-color: #E27D36;
    padding: 10px;
    text-decoration: none;
    color: white;
}
.buttons-container{
    margin-top:20px;
    display:flex;
    margin-left:12.5%;
}
