
@{
    ViewData["Title"] = "FoodInfo";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}
@model Food

<h1>Food Info</h1>


    
    <img src="~/@Model.ImageUrl" />
    <p>@Model.Description</p>
    <div>@Model.AvgRating</div>
