
@{
    Layout = "~/Views/Shared/_StudentLayout.cshtml";

}
<div class="container">

    <h2 class="pt-4">Help Guide</h2>

    <h5>Objective</h5>
    <p>This guide aims to assist students in using the Cafeteria Meal Rating System. Follow the steps outlined below to efficiently navigate through the process.</p>

    <h5>Basic Usage</h5>

    <ol>
        <li>
            <strong>View Menu and Available Cafeteria Meals:</strong>
            <ul>
                <li>Log in to the system using your credentials.</li>
                <li>Navigate to the "Menu" section to view the available cafeteria meals.</li>
            </ul>
        </li>

        <li>
            <strong>Rate a Specific Meal:</strong>
            <ul>
                <li>Select the meal you want to rate.</li>
                <li>Choose the "Rate" option associated with the selected meal. This action opens the rating form.</li>
            </ul>
        </li>

        <li>
            <strong>Review and Submit the Form:</strong>
            <ul>
                <li>Complete the rating form by providing your feedback on the selected meal.</li>
                <li>Review the information entered to ensure accuracy.</li>
                <li>Click the "Submit" button to submit your meal rating.</li>
            </ul>
        </li>

        <li>
            <strong>Successful Completion:</strong>
            <ul>
                <li>Once the form is submitted successfully, you have completed the process of rating a cafeteria meal.</li>
            </ul>
        </li>
    </ol>

    <h5>Alternate Options</h5>

    <ol>
        <li>
            <strong>Leaving Fields Blank:</strong>
            <ul>
                <li>In case you leave any fields in the rating form blank:</li>
                <li>The system will detect blank fields.</li>
                <li>Proceed to step 3 of the Primary Path.</li>
            </ul>
        </li>
    </ol>

    <h5>Tips for a Smooth Experience</h5>

    <ul>
        <li><strong>Ensure Correct Login:</strong> Make sure you are logged into the system with the correct credentials to access the menu and rating features.</li>
        <li><strong>Provide Honest Feedback:</strong> When rating a meal, share your honest opinions. This helps improve the cafeteria's offerings based on genuine student feedback.</li>
        <li><strong>Double-Check Information:</strong> Before submitting the rating form, double-check the information entered to avoid any errors.</li>
        <li><strong>Contact Support if Needed:</strong> If you encounter any technical issues or have questions about the rating process, don't hesitate to contact the system support team for assistance.</li>
    </ul>

    <p>By following these steps and tips, you should be able to easily navigate the Cafeteria Meal Rating System and contribute valuable feedback on the meals provided. Enjoy your dining experience!</p>

</div>