
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<div class="hero-container">

    <div class="hero-title"><span style="color:#ED7812;">Influence the menu</span><br> by rating <br>the food you enjoy.</div>
    <p class="desc">
        Cafeteria stuff will take into consideration your review when making <br />the upcoming menus.
    </p>
    <div class="buttons-container">


        <a href="" class="btn-orange">Rate</a>

    </div>


</div>
<div class="container">
    <div height="700" class=" row bg-black">
        <div class="col">s</div>
    </div>
</div>