<h4>Served Now</h4>
<div class="cointainer">
    <div class="row">
        <div class="card" style="width: 18rem;">
            <img src="~/lib/images/bread.jpg" class="card-img-top" alt="bread">
            <div class="card-body">
                <h5 class="card-title">Freshly Baked Bread</h5>
                <p class="card-text">Served at Breakfast</p>
                <a href="#" class="btn btn-primary">Rate</a>
                <a href="#" class="btn btn-secondary">Info</a>
            </div>
        </div>
    </div>
</div>
