@{
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
    DateTime currentDateTime = DateTime.Now;
}
@model IEnumerable<Food>
<div class="container mt-4">
    <div class="menu-date">@currentDateTime.ToString("dddd, dd MMMM yyyy")</div>
    <div class="menu-header">Served Now</div>
    <div class="cointainer">
        <div class="row">
            @foreach(var item in Model)
            {
                 <partial name="~/Views/Shared/_FoodCardPartial.cshtml" model="@item"></partial>
            }
            
        </div>
    </div>
</div>
</div>

