@model FoodListViewModel
@{
    Layout = "~/Views/Shared/_CookLayout.cshtml";
   
}
<div class="cointainer">
    <div class="row m-2">
        @foreach(var f in Model.Foods){
            <partial name="~/Views/Shared/_FoodCardPartial.cshtml" model="@f"></partial>
        }
    </div>
</div>
<div page-model="@Model.PagingInfo" page-action="Food"></div>