
@{
    Layout = "~/Views/Shared/_CookLayout.cshtml";
}

@model IEnumerable<MenuItem>
<div class="table-responsive p-3">
    <caption>This week's menu</caption>

    <table class="table table-striped p-2">
    <tr>
            <th scope="col">#</th>
            <th scope="col">Moday</th>
            <th scope="col">Tuesday</th>
            <th scope="col">Wednesday</th>
            <th scope="col">Thursday</th>
            <th scope="col">Friday</th>
            <th scope="col">Saturday</th>
            <th scope="col">Sunday</th>
    </tr>
    <tr>
            <th scope="row">Breakfast</th>
        @foreach(var item in Model)
        {
            @if(item.ServedAt == "Breakfast")
            {
                <td>@item.Food.Title</td>
            }
               
        }
    </tr>
    <tr>
            <th scope="row">Lunch</th>
         @foreach(var item in Model)
        {
            @if(item.ServedAt == "Launch")
            {
                <td>@item.Food.Title</td>
            }
               
        }
    </tr>
    <tr>
            <th scope="row">Dinner</th>
         @foreach(var item in Model)
        {
            @if(item.ServedAt == "Dinner")
            {
                <td>@item.Food.Title</td>
            }
               
        }
    </tr>
       
</table> 
</div>