
@{
    Layout = "~/Views/Shared/_CookLayout.cshtml";
}

<h1>Menu</h1>

@model IEnumerable<MenuItem>
<table>
    <tr>
        <th>Moday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
    </tr>
    <tr>
        @foreach(var item in Model)
        {
            @if(item.ServedAt == "Breakfast")
            {
                <td>@item.Food.Title</td>
            }
               
        }
    </tr>
    <tr>
         @foreach(var item in Model)
        {
            @if(item.ServedAt == "Launch")
            {
                <td>@item.Food.Title</td>
            }
               
        }
    </tr>
    <tr>
         @foreach(var item in Model)
        {
            @if(item.ServedAt == "Dinner")
            {
                <td>@item.Food.Title</td>
            }
               
        }
    </tr>
       
</table> 